$bkp320: 320px;
$bkp480: 480px;
$bkp720: 720px;
$bkp1080: 1080px;

$fontMain: "Montserrat", sans-serif;
$fontAlt: "Rokkitt", "Courier", monospace;

$gold: #bb9d58;
$silver: #d3d1d3;
$black: #282828;
$whiteAlt: #f5f5f5;